﻿@using BookShelfSPA.Models

<div id="bodyContainer" ng-app="BookApp">
    <div ng-controller="BookCtrl" class="container">
        <h2>Книжная полка</h2>

        <hr />

        <div ng-show="error" class="alert alert-danger error" role="alert" style="white-space: pre;">{{ error }}</div>

        <div class="loading-wrapper" ng-show="loading">
            <img src="~/Content/Images/ajax-loader.gif" class="ajax-loader" />
        </div>

        <p ng-hide="addMode">
            <a ng-click="toggleAdd()" href="javascript:;" class="btn btn-primary">Добавить книгу</a>
        </p>

        @Html.Partial("Partials/AddForm", "newbook")

        <hr/>

        <button ng-click="sortBy(null)" class="btn btn-default">Убрать сортировку</button>

        <br /><br />

        <table class="table table-striped table-hover" style="width:800px">
            <tr>
                <th>#</th>
                <th>
                    @Html.Partial("Partials/SortButton", new SortButton { Text = "Заголовок", PropertyName = "Title" })
                </th>
                <th>Авторы</th>
                <th>Количество страниц</th>
                <th>Название издательства</th>
                <th>
                    @Html.Partial("Partials/SortButton", new SortButton { Text = "Год публикации", PropertyName = "PublicationYear" })
                </th>
                <th>ISBN</th>
                <th>Изображение</th>
                <th></th>
            </tr>

            <tr ng-repeat="book in booksOrdered">
                <td ng-show="book.editMode" colspan="8">
                    @Html.Partial("Partials/EditForm", "book")
                </td>

                <td ng-show="book.imageMode" colspan="8">
                    @Html.Partial("Partials/ImageForm", "book")
                </td>

                <td ng-hide="book.editMode || book.imageMode">
                    <strong>{{ book.Id }}</strong>
                </td>

                <td ng-hide="book.editMode || book.imageMode">
                    <p>{{ book.Title }}</p>
                </td>

                <td ng-hide="book.editMode || book.imageMode">
                    <div ng-repeat="author in book.Authors">
                        <p>{{ author.FirstName }} {{ author.LastName }}</p>
                    </div>
                </td>

                <td ng-hide="book.editMode || book.imageMode">
                    <p>{{ book.PageNumber }}</p>
                </td>

                <td ng-hide="book.editMode || book.imageMode">
                    <p>{{ book.PublisherName }}</p>
                </td>

                <td ng-hide="book.editMode || book.imageMode">
                    <p>{{ book.PublicationYear }}</p>
                </td>

                <td ng-hide="book.editMode || book.imageMode">
                    <p>{{ book.ISBN }}</p>
                </td>

                <td ng-hide="book.editMode || book.imageMode">
                    <p ng-if="book.Image">
                        <img ng-src="data:image/JPEG;base64,{{ book.Image }}" style="max-width: 150px;">
                    </p>
                </td>

                <td style="white-space: nowrap;">
                    <p ng-hide="book.editMode || book.imageMode">
                        <a ng-click="toggleEdit(book)" href="javascript:;" class="btn btn-primary" title="Редактировать">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </a>
                        <a ng-click="toggleImage(book)" href="javascript:;" class="btn btn-primary" title="Загрузить картинку">
                            <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                        </a>
                        <a ng-click="deletebook(book)" href="javascript:;" class="btn btn-danger" title="Удалить">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                    </p>

                    <p ng-show="book.editMode">
                        <a ng-click="save(book)" href="javascript:;" class="btn btn-success" title="Сохранить">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        </a>
                        <a ng-click="toggleEdit(book)" href="javascript:;" class="btn btn-primary" title="Отменить">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a>
                    </p>

                    <p ng-show="book.imageMode">
                        <a ng-click="saveImage(book)" href="javascript:;" class="btn btn-success" title="Загрузить">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        </a>
                        <a ng-click="toggleImage(book)" href="javascript:;" class="btn btn-primary" title="Отменить">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a>
                    </p>
                </td>
            </tr>
        </table>

        <hr />
    </div>
</div>