﻿<form name="addBook" ng-show="addMode" class="form-horizontal form-validated">

    <div ng-show="addError" class="alert alert-danger error" role="alert" style="white-space: pre;">{{ addError }}</div>

    @Html.Partial("Partials/BaseForm")

    <div class="form-group">
        <label class="col-sm-3 control-label">Авторы *</label>
        <div class="col-sm-9">
            <div ng-repeat="author in newbookAuthors" class="row">
                <div class="col-sm-4">
                    <input ng-model="author.FirstName" type="text" class="form-control form-control-inline" placeholder="Введите имя автора" required maxlength="20">
                </div>
                <div class="col-sm-4">
                    <input ng-model="author.LastName" type="text" class="form-control form-control-inline" placeholder="Введите фамилию автора" required maxlength="20">
                </div>
                <div class="col-sm-4">
                    <input type="button" class="btn btn-danger" value="Удалить" data-ng-click="removeAuthor(newbookAuthors, $index)" />
                </div>
            </div>
            <div>
                <button ng-click="addNewAuthor(newbookAuthors)" class="btn btn-primary">Добавить автора</button>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            (*) - обязательные для заполнения поля
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <input type="submit" value="Добавить книгу" ng-click="add()" ng-disabled="!addBook.$valid" class="btn btn-success" />
            <input type="button" value="Отменить" ng-click="toggleAdd()" class="btn btn-primary" />
        </div>
    </div>
</form>