﻿<div class="form-group">
    <label for="title" class="col-sm-3 control-label">Заголовок *</label>
    <div class="col-sm-9">
        <input ng-model="(@Model).Title" type="text" class="form-control" id="title" placeholder="Введите заголовок" required maxlength="30">
    </div>
</div>

<div class="form-group">
    <label for="pageNumber" class="col-sm-3 control-label">Количество страниц *</label>
    <div class="col-sm-9">
        <input ng-model="(@Model).PageNumber" type="number" class="form-control" id="pageNumber" placeholder="Введите количество страниц" required min="1" max="10000">
    </div>
</div>

<div class="form-group">
    <label for="publisherName" class="col-sm-3 control-label">Название издательства</label>
    <div class="col-sm-9">
        <input ng-model="(@Model).PublisherName" type="text" class="form-control" id="publisherName" placeholder="Введите название издательства" maxlength="30">
    </div>
</div>

<div class="form-group">
    <label for="publicationYear" class="col-sm-3 control-label">Год публикации *</label>
    <div class="col-sm-9">
        <input ng-model="(@Model).PublicationYear" type="number" class="form-control" id="publicationYear" placeholder="Введите год публикации" required min="1800">
    </div>
</div>

<div class="form-group">
    <label for="ISBN" class="col-sm-3 control-label">ISBN *</label>
    <div class="col-sm-9">
        <input ng-model="(@Model).ISBN" type="text" class="form-control isbn" id="ISBN" placeholder="Введите ISBN" required>
    </div>
</div>