﻿<form name="editBook" class="form-horizontal form-validated">

    <div ng-show="editError" class="alert alert-danger error" role="alert" style="white-space: pre;">{{ editError }}</div>

    @Html.Partial("Partials/BaseForm")

    <div class="form-group">
        <label class="col-sm-3 control-label">Авторы *</label>
        <div class="col-sm-9">
            <div ng-repeat="author in (@Model).Authors" class="row">
                <div class="col-sm-4">
                    <input ng-model="author.FirstName" type="text" class="form-control form-control-inline" placeholder="Введите имя автора" required maxlength="20">
                </div>
                <div class="col-sm-4">
                    <input ng-model="author.LastName" type="text" class="form-control form-control-inline" placeholder="Введите фамилию автора" required maxlength="20">
                </div>
                <div class="col-sm-4">
                    <input type="button" class="btn btn-danger" value="Удалить" data-ng-click="removeAuthor((@Model).Authors, $index)" />
                </div>
            </div>
            <div>
                <button ng-click="addNewAuthor((@Model).Authors)" class="btn btn-primary">Добавить автора</button>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            (*) - обязательные для заполнения поля
        </div>
    </div>
</form>