﻿<form name="imageBook" class="form-horizontal form-validated">

    <div ng-show="editError" class="alert alert-danger error" role="alert" style="white-space: pre;">{{ editError }}</div>

    <div class="form-group">
        <label for="image" class="col-sm-3 control-label">Изображение</label>
        <div class="col-sm-9">
            <input type="file" name="attachment" class="form-control" data-ak-file-model="(@Model).Attachment" />
        </div>
    </div>
</form>