﻿<button ng-click="sortBy('(@Model.PropertyName)')" class="btn btn-default" title="Сортировать">
    @Model.Text
    <span class="sortorder" ng-show="propertyName === '(@Model.PropertyName)'" ng-class="{reverse: reverse}"></span>
</button>